<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 文字コード・画面表示の設定 -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!-- Bootstrap CSSの読み込み -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<title>入力画面</title>
</head>

<body>

	<br>
	<div class="container" style="width: 30%">
		<div class="alert alert-primary" role="alert">
		<h3 style="text-align:center">パスワードの変更</h3>
			<form method="post" action="/changePassword">
				<div class="container">
					<!-- ログインID -->
					<p style=margin:0>ログインID</p>
					<input type="text" name="id" style="width: 100%; height: 30px; display: block;margin-bottom:5px;" />
					<!-- 現在のパスワード -->
					<p style=margin:0;>現在のパスワード</p>
					<p th:text="${pass_err}" style=margin:0></p>
					<input type="text" name="current_pass"
						style="width: 100%; height: 30px; display: block;margin-bottom:5px" />
					<!-- 新しいパスワード -->
					<p style=margin:0>新しいパスワード</p>
					<input type="text" name="new_pass"
						style="width: 100%; height: 30px; display: block;margin-bottom:5px" />
					<!-- 新しいパスワード(確認用) -->
					<p style=margin:0>新しいパスワード(確認用)</p>
					<input type="text" name="check_pass"
						style="width: 100%; height: 30px; display: block;margin-bottom:5px" />
					<!-- 確定ボタン -->
					<button class="btn btn-primary" type="submit" name="update_button"
						style="width: 100%; height: 35px; display: block;margin-top:20px">登録</button>
					<!-- キャンセルボタン -->
					<button class="btn btn-primary" type="button"
						onclick="location.href='/login'"
						style="width: 100%; height: 35px; display: block;margin-top:20px">キャンセル</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>